body{
   background-color:#4B2E2B;
   margin: 0;
}
.container{
    width: 800px;
    height: 500px;
    background-color: rgba(55, 71, 73, 0.877);
    margin: auto;
    margin-top: 80px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px 10px rgb(rgb(64, 26, 26), rgb(80, 202, 80), rgb(56, 56, 224));
    display: flex;

}
.Register_title{
   text-align: center;
   color: rgba(8, 170, 239, 0.959);
}
.reg-lbl{
    padding: 15px;
    color: white;
}
.reg-input{
    margin: 10px;
    width: 90%;
    padding: 7px;
}
.reg-btn,.btn_login{
    margin: 20px;
    padding: 10px;
    margin-left: 50px;
    background-color: greenyellow;
    border: none;
    color: black;
    border-radius: 5px;
}
.reg-img{
    width: 50%;
    background-image: url(images/loding_background.jpg);
    border-radius: 20px;
}
.reg-form{
    width: 50%;
}
.container_img{
    width: 400px;
    height: 500px;
}
nav{
    background-color: rgb(0, 23, 63);
    padding: 10px;
}
.logo_image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.nav_link{
    text-decoration: none;
    font-size: larger;
    color: beige;
    background-color: rgb(58, 49, 28);
    padding: 5px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 5px;

}
.search{
    margin-left: 500px;
    width: 200px;
    border-radius: 5px;
    padding: 6px;
}
.btnSearch{
    background-color: rgb(0, 106, 255);
    padding: 6px;
    color: beige;
    border: none;
    
}
footer{
    display: flex;

    margin-top: 120px;
    background-color: rgb(0, 23, 63);
    padding: 50px;

}
.nva_link:hover{
    background-color: aqua;
    
}
.social_link{
    width: 50%;
    height: 20%;
    color: antiquewhite;
    text-decoration: none;
    display: block;

}
.quick_link{
    width: 50%;
}
.footer_link,.quick_link {
    color: antiquewhite;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;

}
.download_mag{
    width: 150px;
    height: 40px;
    border-radius: 5px;
}
.pcontainer{
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    
   
}
.card, .pcard{
    width: 20%;
    height: 450px;
    margin-left: 60px;
    background-color:#5C4033;
    border-radius: 10px;
    margin-bottom: 40px;

}

.card:hover{
    transform: scale(1.05);
}

.card_img{
    width: 100%;
    height: 260px;
    border-radius: 10px;
}
.pcard_img{
    width: 100%;
    height: 230px;
    border-radius: 10px;
}
.pcard_img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 5px rgb(244, 242, 242);
}
.video-container{
    margin-top: 20px;
    position: relative;
    padding-bottom: 26.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}
.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
}
.card_text{
    margin-left: 20px;
    color: white;
}
p{  
    text-align: center;
    color: black;
    font-style: oblique;
}
.card_icon{
    color: white;
    margin-left: 10px;
}
.card_btn{
    background-color: grey;
    color: beige;
    border-radius: 30px;
    margin-left: 20px;
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 20px;

}
.quick{
    width: 40%;
}
.section{
    width: 40%;
}
.readmore{
    text-decoration: none;
    background-color: rgb(98, 90, 90);
    text-align: center;
    color: rgb(240, 240, 210);
    padding: 8px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 10px;


}
.Pdescription{
    margin-bottom: 20px;
    color: rgb(189, 210, 230);
}
.pagoda_container{
    width: 80%;
    height: 500px;
    margin: auto;
    background-color:#5C4033;
    margin-top: 80px;
    display: flex;
}
.img_view{
    width: 40%;
    margin-left: 100px;

}
.pagoda_text{
    width: 40%;
    margin-left: 100px;
    color: white;
    font-size: large;
}
.PdetailImg{
    margin-top: 15px;
    width: 100%;
    height: 470px;
    box-shadow: 6px 5px 5px 5px rgb(12, 12, 12);
    border-radius: 5px;
}
.plocation{
    color: rgba(214, 64, 34, 0.686);
}
.profile_container{
    display: flex;

}
.profile{
    text-decoration: none;
    padding: 20px;
    color: beige;
    font-weight: bold;
    align-items: center;
    
}
.profile_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 5px;
}
.btnLogout{
    text-decoration: none;
    padding: 20px;
    color: beige;
    background-color: rgb(28, 123, 205);
    border-radius: 10px;
}
.btn_reaction_icon{
    background-color: transparent;
    border: none;
}
.btnThumb{
    
}
